<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega foi Cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{ recipient }}<br />
  <strong>Data/hora: </strong>{{ date }}<br />
  <strong>Motivo: </strong>{{ description }}<br />
  <br />
  <smal>
    Em caso de dúvidas, entre em contato com seu gestor.
  </smal>
</p>
